*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/kotlin-js-store
ruler-common/build
ruler-cli/bin
ruler-common/bin
ruler-gradle-plugin/bin
ruler-e2e-tests/bin
